.Main{
    background-image: url(../Images/back3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.userformimg{
    background-image: url(../Images/Pizza1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}